/* CSS for Dashboard form */
.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 15px;
    justify-items: center;
    align-items: center;
    padding: 20px;
}

.content h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    margin-top: 20px;
}

.welcome-message {
    grid-column: 1 / -1;
    text-align: center;
}

.dashboard-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 15px;
    background-color:rgb(243, 213, 176);
}

.dashboard-column {
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
}

.column-title {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.message-item,
.tutor-item {
    display: grid;
    grid-template-columns: auto 1fr; 
    grid-template-rows: auto 1fr auto; 
    /* height was set arbitrarily in unison with text in the message boxes (get message char count to grab prop height) */
    height: 200px;        
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;
}

.message-item img,
.tutor-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.message-details,
.tutor-details {
    padding: 10px;
}

.message-button {
    background-color: rgb(186, 186, 186);
    color: #616467;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.messageBtn:hover{
    color: black;
    background-color: #96a087;
}
input, select, button {
    color: black; /* Text color */
    background-color: white; /* Background color */
}
.tutor-cards-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Spacing between cards */
    }

    .tutor-card {
    display: grid;
    grid-template-columns: auto 1fr auto; 
    gap: 10px;
    padding: 10px; 
    border: 2px solid black;
    }

    .tutor-picture {
    width: 100px; 
    border-radius: 50%;
    }

    .tutor-info h3 {
    margin: 0;
    padding: 0;
    }

    /* Popup box style */
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Popup content */
.popup-content {
    background-color: rgb(130, 154, 91);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}