/* CSS for Dashboard form */
.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 15px;
    justify-items: center;
    align-items: center;
    padding: 20px;
}

.content h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    margin-top: 20px;
}

.welcome-message {
    grid-column: 1 / -1;
    text-align: center;
}

.dashboard-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 15px;
    background-color:rgb(243, 213, 176);
}

.dashboard-column {
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
}

.column-title {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.message-item,
.tutor-item {
    display: grid;
    grid-template-columns: auto 1fr; 
    grid-template-rows: auto 1fr auto; 
    /* height was set arbitrarily in unison with text in the message boxes (get message char count to grab prop height) */
    height: 200px;        
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;
}

.message-item img,
.tutor-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.message-details,
.tutor-details {
    padding: 10px;
}