
.main-container {
display: grid;
grid-template-columns: 1fr; 
grid-template-rows: 1fr; 
width: 100vw - 10px; 
/* -10px to resolve horizontal scroll issue */
height: 100vh;
margin: 20px; 
/* border: 2px solid black;  */
}

.nested-grid {
display: grid;
grid-template-columns: repeat(1, 1fr); 
grid-template-rows: 1.1fr 1fr; 
/* Initially 5fr 1fr, causing issues with displaying content vertially */
gap: 20px; 
/* border: 2px solid black;  */
}

.nested-grid > div {
/* border: 1px solid black;  */
}

.home-container {
display: grid;
grid-template-columns: repeat(
2,
1fr
); 
gap: 20px; 
align-items: center; 
justify-items: center; 
padding: 20px; 
}

.button {
width: 100%; 
padding: 15px 30px; 
font-size: 1.5rem; 
cursor: pointer; 
border: none;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
background-color: rgb(163, 163, 163)
}

.text-button-container {
display: grid;
grid-template-columns: repeat(1, 1fr); 
grid-template-rows: 1fr 1fr; 
gap: 10px; 
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
border-radius: 5px;
background-color: #61797a;
background-image: linear-gradient(319deg, rgb(130, 154, 91) 0%, white 30%, #ebc774 100%);
text-align: center; 
font-size: 2em; 
display: flex;
flex-direction: column; 
justify-content: center; 
align-items: center;
text-align: center;
font-size: 2em; 
}

.text-button-container p {
  font-size: 18px;
  line-height: 1.2;
  
}

#element {
  display: inline;
  font-size: 2em; 
  line-height: 1em; 
  vertical-align: middle; 
}

.typed-cursor {
  display: inline-block;
  vertical-align: text-bottom;
}

/* --------------  HERE IS TUTOR CARD CSS ON HOMEPAGE  ----------------- */

.additional-info {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
}
  
.additional-info h2 {
margin-top: 0; 
text-align: center; 

}

.additional-info-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.tutor-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.tutor-card {
  max-width: 20rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
}

.tutor-picture {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tutor-info {
  padding: 1.25rem;
}

.tutor-info h3 {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.2;
  color: #333;
}

.tutor-info p {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #666;
}

.messageBtn {
  display: block;
  width: 100%;
  padding: 0.75rem;
  font-size: 0.875rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color:#04AA6D;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.messageBtn:hover {
  background-color:#006b44;
}