/* Margin and Padding reset */
body, h1, p, form {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    background-image: linear-gradient(#E3CB9C 60%, #dbd4c5);
    min-height: 100vh; 
    margin: 0;
}

/* CSS for Navbar using CSS Grid */



/* CSS for Login form */
.content {
    display: grid;
    place-items: center;
    min-height: 80vh;
}

.login-form {
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    display: grid;
    grid-template-columns: 1fr;
    max-width: 400px;
    justify-items: center;
}

.login-form h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    margin-top: 35px;
    margin-bottom: 20px;
}

.login-form label {
    text-align: left;
    justify-self: start;
    margin-bottom: 5px;
}

.login-form input {
    width: 100%;
    padding: 10px;
}

.login-form input[type="submit"] {
    width: 50%;                                                      
    background-color: white; 
    color: black; 
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-bottom: 25px;
    border-radius: 5px; 
}

.login-form input[type="submit"]:hover {
    background-color:  black;
    color: white;
}