/* Margin and Padding reset */
body, h1, p, form {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    background-image: linear-gradient(#E3CB9C 60%, #dbd4c5);
    background-attachment: fixed;
    min-height: 100vh; 
    margin: 0;
}

/* CSS for Navbar using CSS Grid */
@media only screen and (max-width: 1000px) {
    .title {
        display: none;
    }
}

.navbar {
    font-family: "Lato", sans-serif;
    background-color: rgb(130, 154, 91);
    padding: 10px 10px;
    border-bottom: 1px solid black;

    display: grid;
    grid-template-columns: auto minmax(auto, 1fr) auto; 
    grid-template-rows: 1fr;
    align-items: center;
}

.left, .right, .home-link{
    display: flex;
    align-items: center;
}

.left {
    justify-self: flex-start;
}

.right {
    justify-self: flex-end;
}

.Logo {
    border-radius: 5px;;
}

.home-link{
    background-color: #526566;
    border: 2px solid black;
    border-radius: 5px;
}


.navbar a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin: 0 10px;
}

.search-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    max-width: 1000px;
    min-width: 100px;
    margin-left: 5px;
    margin-right: 15px;
    min-width: none;
    border: 2px solid black;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}

.search-form {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.search-container select,
.search-container input,
.search-container button {
    padding: 10px;
    font-size: 14px;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.search-container select {
    width: 120px;
    margin: 0;
    background-color: rgb(186, 186, 186);
    color: #616467;
}

.search-container select option {
    background-color: #fff;
    color: #616467;
}

.search-container input {
    width: calc(140% - 20px);
    
    
}

.search-container button {
    cursor: pointer;
    background-color: rgb(186, 186, 186);
    color: #616467;
    transition: background-color 0.3s, color 0.3s; 
    margin: 0;
}

.search-container button:hover {
    background-color: black;
    color: #fff;
}


.navbar-buttons {
    display: grid;
    align-items: center;
    grid-auto-flow: column; 
}

.navbar-buttons button {
    display: inline-block;
    padding: 10px 10px;
    font-size: 14px;
    border: 2px solid black;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    color: black;
    background-color: #96a087;
    margin: 0;
    white-space: nowrap;
}

.navbar-buttons button:hover {
    color: white;
    background-color: #526566;
}