/* Margin and Padding reset */
body, h1, p, form {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    background-image: linear-gradient(#E3CB9C 60%, #dbd4c5);
    min-height: 100vh; 
    margin: 0;
}

/* CSS for Navbar using CSS Grid */



/* ------------------------------------- */

.main-container {
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; 
    gap: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px; 
    min-height: 100vh; 
}

.grid-item {
    padding: 20px; 
    background-color: rgb(212, 211, 211);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
/* ---------------------------------------------------------------------- */

.form-container {
    display: grid;
    height: 100vh;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
}

.form-container h1 {
text-align: center;
}

.form-container form {
display: grid;
grid-template-columns: 1fr;
gap: 10px;
}

.media-upload {
display: grid;
grid-template-columns: repeat(1, 0.25fr);
gap: 10px;
}

.form-actions {
display: grid;
grid-template-columns: repeat(2, 0.25fr);
gap: 10px;
justify-content: space-between;
}

.form-actions button {
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.form-actions button:hover {
    background-color: black; 
    color: white; 

}


/* Tutor Application Description Field */
#description {
    font-family: "Lato", sans-serif;
    resize: none;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

/* Aligns lables to bottom of their grid or above their input field*/
form label, b{
    align-self: end;
}