/* Margin and Padding reset */
body, h1, p, form {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    background-image: linear-gradient(#E3CB9C 60%, #dbd4c5);
    min-height: 100vh; 
    margin: 0;
}

/* CSS for Navbar using CSS Grid */



/* ------------------------------------- */

.main-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; 
    gap: 10px;
    border: 2px solid black;
    padding: 20px; 
    min-height: 100vh; 
}

.grid-item {
    padding: 20px; 
    border: 1px solid grey; 
}
/* ---------------------------------------------------------------------- */

.form-container {
    display: grid;
    height: 100vh;
    border: 2px solid black;
    padding: 20px;
}

.form-container h1 {
text-align: center;
}

.form-container form {
display: grid;
grid-template-columns: 1fr;
gap: 10px;
}

.media-upload {
display: grid;
grid-template-columns: repeat(1, 0.25fr);
gap: 10px;
}

.form-actions {
display: grid;
grid-template-columns: repeat(2, 0.25fr);
gap: 10px;
justify-content: space-between;
}

.form-actions button {
/* Additional styling for buttons if needed */
}

/* Tutor Application Description Field */
#description {
    font-family: "Lato", sans-serif;
}