<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
 
    <link rel="stylesheet" type="text/css" href="../webpage/CSS/aboutMe-landing-base.css"/>
    <link rel="stylesheet" type="text/css" href="../webpage/CSS/aboutMe-landing-grid.css"/>
  </head>
  <body>
    
    <div class="navbar">
      <a href="/">Home</a>
      <a href="/about-us/">About Us</a>
      <a href="/search-tutors/">Search Tutors</a>
      <a href="/tutor-application/">Become a Tutor</a>
      <a href="/login-form/">Sign In</a>
  </div>
    
    <section class="aboutMe-landing-grid">
      <div class="special card">About Us </div>
      
      <a href="/ronnie-page" target="_blank">
        <div class="card";">
          Ronnie
        </div>
      </a>
      <a href="/joaquin-page" target="_blank">
        <div class="card";">
          Joaquin
        </div>
      </a>
      <a href="/karl-page" target="_blank">
        <div class="card";">
          Karl
        </div>
      </a>
      <a href="/sean-page" target="_blank">
        <div class="card";">
          Sean
        </div>
      </a>
      <a href="/philip-page" target="_blank">
        <div class="card";">
          Philip
        </div>
      </a>
      <a href="/darien-page" target="_blank">
        <div class="card";">
          Darien
        </div>
      </a>
    </section>

    <br>
    <br>
    <br>


    <section>
        <div>
            
        </div>

    </section>

    
  </body>
</html>
