<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="../webpage/CSS/dashboard.css"/> <!-- Universal navbar css is currently here -->
</head>
<body>
    <header class="navbar">
        <div class="left">
            <a href="/" class="home-link">
                <img src="../webpage/tutor-pictures/GATORlogo.png" width="48" alt="Logo" class="Logo">
                <span class="title" style="color: #efebef; padding-right: 10px; padding-left: 10px;">wiseGATOR</span>
            </a>
        </div>
        <div class="search-container">
            <form class="search-form" action="/search-tutors" method="GET">
                <select name="subject">
                    <option value="">Select Topic</option>
                    <% topics.forEach(topic => { %>
                        <option value="<%= topic.subject %>" <%= (typeof subject !== 'undefined' && subject === topic.subject) ? 'selected' : '' %>><%= topic.subject %></option>
                    <% }); %>
                </select>

                <input type="text" name="search" value="<%= typeof name !== 'undefined' ? name : '' %>" placeholder="Search by name" maxlength="40">
                
                <button type="submit">Search</button>
            </form>
        </div>  
        <div class="right">
            <div class="navbar-buttons">
                <a href="/about-us/"><button>About Us</button></a>
                <a href="/tutor-application/"><button>Become a Tutor</button></a>

                <!-- TO DO: If logged in dashboard else login form -->
                <!-- <a href="/dashboard/"><button>Dashboard</button></a> -->
                <a href="/login-form/"><button>Log In</button></a>

                <!-- <a href="/"><button>Home</button></a> FEATURE MOVED TO LOGO -->
                <!-- <a href="/search-tutors/"><button>Search Tutors</button></a> FEATURE MOVED TO SEARCH BAR -->
            </div>
        </div>
    </header>
    <main class="content">
        <h1>Dashboard</h1>
        <div class="welcome-message">
            <h2>Welcome Back, Joe Smuck!</h2>
        </div>
        <div class="dashboard-columns">
            <div class="incoming-messages">
                <h3>You have # Incoming Messages:</h3>  <!-- TO DO: Get information from Database -->
                <div class="message-item">
                    <img src="../webpage/tutor-pictures/tutor_1.png" alt="PFP">
                    <div class="message-details">
                        <p>11-12-2023 11:11pm</p>   <!-- TO DO: Get information from Database (use id for messages not user)-->
                        <p>Name: Steve Alex</p> 
                        <p>Email: stevealex@example.com</p>
                        <p>Class: Computer Science</p> <br>                         
                        <p>Message: Hello my name is Steve I am messaging in hopes of being able to tutee with your computer science group, I saw your post by
                        using the search bar in the nav menu above!</p>   
                    </div>
                </div>

                <!-- START OF PRESENTATION DISPLAY DIVS FOR INCOMING MESSAGES -->
                <div class="message-item">
                    <img src="../webpage/tutor-pictures/tutor_2.png" alt="PFP">
                    <div class="message-details">
                        <p>11-11-2023 11:11pm</p>  
                        <p>Name: Cave Johnson</p>
                        <p>Email: Cave@example.com</p><br>                                      
                        <p>Message: Integer sollicitudin nisl et enim congue, vel congue libero accumsan. Curabitur aliquet justo in posuere sagittis. Fusce
                        hendrerit felis vitae bibendum venenatis. Vestibulum tincidunt. </p>    
                    </div>
                </div>
                <div class="message-item">
                    <img src="../webpage/tutor-pictures/tutor_3.png" alt="PFP">
                    <div class="message-details">
                        <p>11-10-2023 11:11pm</p>  
                        <p>Name: Quirrel Tiso</p>
                        <p>Email: Quirrel@example.com</p><br>                                
                        <p>Message: Suspendisse luctus, elit sit amet convallis fermentum, libero elit aliquam odio, in feugiat ipsum metus id libero. Donec laoreet
                        nunc non urna cursus, eu tristique ipsum bibendum. Suspendisse potenti.</p>    
                    </div>
                </div>
                <div class="message-item">
                    <img src="../webpage/tutor-pictures/tutor_4.png" alt="PFP">
                    <div class="message-details">
                        <p>11-09-2023 11:11pm</p>  
                        <p>Name: Lucio Oohs</p>
                        <p>Email: Lucio@example.com</p><br>                                  
                        <p>Message: Proin non urna vel enim aliquam condimentum. Fusce suscipit, arcu et efficitur efficitur, sapien risus cursus odio, sit amet rhoncus
                        libero metus at nunc. Vestibulum dignissim, ex nec facilisis venenatis.</p>    
                    </div>
                </div>
                <!-- END OF PRESENTATION DISPLAY DIVS FOR INCOMING MESSAGES -->

            </div>
            <div class="your-posted topics">
                <h3>Your Tutor Posts:</h3>
                <div class="tutor-item">
                    <img src="../webpage/tutor-pictures/tutor_5.png" alt="PFP">
                    <div class="tutor-details">
                        <p>Name: Joe Smuck</p>              <!-- TO DO: Get information from Database (use id for post not user)-->
                        <p>Email: Joesmuck@example.com</p>
                        <p>Class: Computer Science</p>
                        <p>Description: This tutoring session will be held mondays and wednesdays and is for 300 level or lower computer science courses</p><br>  
                        <p><a href="">Click here for additional tutor related Video, Image, or CV/Flyer</a></p> 
                    </div>
                </div>

                <!-- START OF PRESENTATION DISPLAY DIVS FOR PREVIOUSLY SEARCHED TUTORS -->
                <div class="tutor-item">
                    <img src="../webpage/tutor-pictures/tutor_5.png" alt="PFP">
                    <div class="tutor-details">
                        <p>Name: Joe Smuck</p>              <!-- TO DO: Get information from Database (use id for post not user)-->
                        <p>Email: Joesmuck@example.com</p>
                        <p>Class: Mathmatics</p>
                        <p>Description: Proin non urna vel enim aliquam condimentum. Fusce suscipit, arcu et efficitur efficitur.</p><br>  
                        <p><a href="">Click here for additional tutor related Video, Image, or CV/Flyer</a></p> 
                    </div>
                </div>
                <div class="tutor-item">
                    <img src="../webpage/tutor-pictures/tutor_5.png" alt="PFP">
                    <div class="tutor-details">
                        <p>Name: Joe Smuck</p>              <!-- TO DO: Get information from Database (use id for post not user)-->
                        <p>Email: Joesmuck@example.com</p>
                        <p>Class: Physics</p>
                        <p>Description: libero metus at nunc. Vestibulum dignissim, ex nec facilisis venenatis aoeuid htadocrl tedin ntoehula snteuhi.</p><br>  
                        <p><a href="">Click here for additional tutor related Video, Image, or CV/Flyer</a></p> 
                    </div>
                </div>
                <!-- END OF PRESENTATION DISPLAY DIVS FOR PREVIOUSLY SEARCHED TUTORS -->

            </div>
        </div>
    </main>
</body>
</html>