<head>
    <link rel="stylesheet" href="../webpage/home/CSS/home.css">
    <style>
        body {
            background-color: #E3CB9C;
        }
        .navbar {
            background-color: rgb(133, 160, 91);
            padding: 5px;
            margin: auto;
            display: flex;
            align-items: center;
            text-align: center;
            margin: 0;
            position: absolute;
            left: 0%;
            transform: translate(0%, 0%);
            width: 100%;
            padding-left: 5px;
        }
        .title {
            font-family: 'Times New Roman', Times, serif;
            font-size: 24px;
        }
        .left {
            padding-left: 5px;
        }
        .right {
            float: right;
            padding-left: 5px;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <img src="../webpage/tutor-pictures/GATORlogo.png" width="90" alt="Logo" class="Logo">
        <a class="left">
        <a class="title" style="color: black;">wiseGATOR</a> <!--Keep this content in this position-->
        <a>
        <!--Move this content to be centered in the navbar-->    
        <form action="/search-tutors" method="GET">
            <input type="text" name="search" value="<%= typeof name !== 'undefined' ? name : '' %>" placeholder="Search by name" maxlength="40">
                
                <select name="subject">
                    <option value="">Select Topic</option>
                    <% topics.forEach(topic => { %>
                        <option value="<%= topic.subject %>" <%= (typeof subject !== 'undefined' && subject === topic.subject) ? 'selected' : '' %>><%= topic.subject %></option>
                    <% }); %>
                </select>
        
                <button type="submit">Search</button>
            </form>
        </a>
        </a>
        <!--Move this content to be the right side of the navbar-->
        <a class="right">
        <button a href="/">Home</button>
        <button href="/about-us/">About Us</button>
        <!-- button href="/search-tutors/">Search Tutors</button-->
        <button href="/tutor-application/">Become a Tutor</button>
        <button href="/login-form/">Sign In</button>
        </a>
    </div>
</body>