<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-N3SV9BXBFJ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-N3SV9BXBFJ');
    </script>
    <link rel="stylesheet" type="text/css" href="../webpage/CSS/dashboard.css"/> <!-- For universal navbar -->
    <link rel="stylesheet" type="text/css" href="../webpage/CSS/home.css"/> <!-- TO DO: Delete any navbar css -->
</head>

<body>
    <header class="navbar">
        <div class="left">
            <a href="/" class="home-link">
                <img src="../webpage/tutor-pictures/GATORlogo.png" width="48" alt="Logo" class="Logo">
                <span class="title" style="color: #efebef; padding-right: 10px; padding-left: 10px; font-size: 20px">WiseGATOR</span>
            </a>
        </div>
        <div class="search-container">
            <form class="search-form" action="/search-tutors" method="GET">
                <select name="subject">
                    <option value="">Select Topic</option>
                    <% topics.forEach(topic => { %>
                        <option value="<%= topic.subject %>" <%= (typeof subject !== 'undefined' && subject === topic.subject) ? 'selected' : '' %>><%= topic.subject %></option>
                    <% }); %>
                </select>

                <input type="text" name="search" value="<%= typeof name !== 'undefined' ? name : '' %>" placeholder="Search by name" maxlength="40">
                
                <button type="submit">Search</button>
            </form>
        </div>  
        <div class="right">
            <div class="navbar-buttons">
                <a href="/about-us/"><button>About Us</button></a>
                <a href="/tutor-application/"><button>Become a Tutor</button></a>

                <!-- TO DO: If logged in dashboard else login form -->
                <!-- <a href="/dashboard/"><button>Dashboard</button></a> -->
                <% if (loggedIn) { %>
                    <a href="/dashboard/"><button>Dashboard</button></a>
                    <form action="/users/logout/" method="post">
                      <button type="submit">Logout</button>
                    </form>
                    <% } else { %>
                      <a href="/login-form/"><button>Log In</button></a>
                  <% } %>

                <!-- <a href="/"><button>Home</button></a> FEATURE MOVED TO LOGO -->
                <!-- <a href="/search-tutors/"><button>Search Tutors</button></a> FEATURE MOVED TO SEARCH BAR -->
            </div>
        </div>
    </header>
    <div class="main-container">
        <div class="nested-grid">
 
          <div class="text-button-container">
  
              <span id="element" class="typed-cursor"></span>
              <div class="home-container">
  
                  <button class="button find-tutor" onclick="location.href='/search-tutors';">Find a Tutor</button>
                  <button class="button become-tutor" onclick="location.href='/tutor-application/';">Become a Tutor</button>
                </div>
          </div>
          
          <div class="additional-info">
            <h2>Recently Approved Tutors</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.</p>
          </div>
        </div>
      </div>


<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
<script>
var typed = new Typed('#element', {
  strings: ['Teaching the Future.', 'Welcome to WiseGATOR'],
  typeSpeed: 75,
  showCursor: false, // Ensure the cursor is shown
  cursorChar: '|', // Default cursor character
});
</script>
</body>
