<head>
    <link rel="stylesheet" href="../webpage/home/CSS/home.css">
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/about-us/">About Us</a>
        <a href="/search-tutors/">Search Tutors</a>
        <a href="/tutor-application/">Become a Tutor</a>
        <a href="/login-form/">Sign In</a>
    </div>
    <div class="logo">
        <img src="your_logo.png" alt="Logo"> <!-- Gator Studying Pic -->
    </div>
    <div class="title">
        wiseGATOR
    </div>
    <div class="search">
        <select>
        <option>Topic 1</option>
        <option>Topic 2</option> <!-- Get these from the DB -->
        <option>Topic 3</option>
    </select>
        <input type="text" placeholder="Search">
        <button type="submit">GO</button>
    </div>
    <div class="menu">
        <button>About Us</button>
        <button>Become a Tutor</button>
        <button>Sign In</button>
    </div>
</body>