<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="./CSS/login-form.css">
    <script src="./JS/login-form.js" defer></script>
</head>
<body>
    <header class="navbar">
        <div class="left">
            <img src="../webpage/tutor-pictures/GATORlogo.png" width="65" alt="Logo" class="Logo">
            <a class="title" style="color: rgb(255, 255, 255);">wiseGATOR</a> 
        </div>
        <div class="center"> 
            <div class="search-container">
                <select>
                    <option>Topic 1</option>
                    <option>Topic 2</option>
                    <option>Topic 3</option>
                </select>
                <input type="text" placeholder="Search for Tutors">
                <button type="submit">GO</button>
            </div>  
        </div>
        <div class="right">
            <div class="navbar-buttons">
                <a href="/">Home</a>
                <a href="/about-us/">About Us</a>
                <a href="/tutor-application/">Become a Tutor</a>
                <a href="/login-form/">Sign In</a>
            </div>
        </div>
    </header>
    <main class="content">
        <form class="login-form" method="post" >
            <h1>Login</h1>
    
            <label for="email">SFSU Email</label> 
            <input type="email" id="email" placeholder="e.g. 123456789@sfsu.edu"> <br>
    
            <label for="password">Enter Password</label> 
            <input type="password" id="password" placeholder="Password"> <br>
    
            <p><a href="">Forgot password? </a></p> <!--Dummy link, no reroute here-->
            <p><a href="/register-form/">Don't have an account?</a></p> <!--TO DO: add link to register page-->
        
            <input type="submit" value="Login"> <br>
    
        </form>
    </main>
    <!-- Temp Error Handling (if individual messages wrap input and label in div 'input-control')-->
    <div class ="input-control">
        <div class="error" id="error"></div>
    </div>
</body>
</html>