<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="../webpage/CSS/dashboard.css"/> <!-- For universal navbar -->
    <link rel="stylesheet" type="text/css" href="../webpage/CSS/login-form.css"/> <!-- TO DO: Delete any navbar css -->
    <!-- <script src="./JS/login-form.js" defer></script> -->
</head>
<body>
    <header class="navbar">
        <div class="left">
            <a href="/" class="home-link">
                <img src="../webpage/tutor-pictures/GATORlogo.png" width="48" alt="Logo" class="Logo">
                <span class="title" style="color: #efebef; padding-right: 10px; padding-left: 10px;">WiseGATOR</span>
            </a>
        </div>
        <div class="search-container">
            <form class="search-form" action="/search-tutors" method="GET">
                <select name="subject">
                    <option value="">Select Topic</option>
                    <% topics.forEach(topic => { %>
                        <option value="<%= topic.subject %>" <%= (typeof subject !== 'undefined' && subject === topic.subject) ? 'selected' : '' %>><%= topic.subject %></option>
                    <% }); %>
                </select>

                <input type="text" name="search" value="<%= typeof name !== 'undefined' ? name : '' %>" placeholder="Search by name" maxlength="40">
                
                <button type="submit">Search</button>
            </form>
        </div>  
        <div class="right">
            <div class="navbar-buttons">
                <a href="/about-us/"><button>About Us</button></a>
                <a href="/tutor-application/"><button>Become a Tutor</button></a>

                <!-- TO DO: If logged in dashboard else login form -->
                <!-- <a href="/dashboard/"><button>Dashboard</button></a> -->
                <a href="/login-form/"><button>Log In</button></a>

                <!-- <a href="/"><button>Home</button></a> FEATURE MOVED TO LOGO -->
                <!-- <a href="/search-tutors/"><button>Search Tutors</button></a> FEATURE MOVED TO SEARCH BAR -->
            </div>
        </div>
    </header>
    <main class="content">
        <form class="login-form" method="post" >
            <h1>Login</h1>
    
            <label for="email">SFSU Email</label> 
            <input type="email" id="email" placeholder="e.g. 123456789@sfsu.edu"> <br>
    
            <label for="password">Enter Password</label> 
            <input type="password" id="password" placeholder="Password"> <br>
    
            <p><a href="">Forgot password? </a></p> <!--Dummy link, no reroute here-->
            <p><a href="/register-form/">Don't have an account?</a></p> <!--TO DO: add link to register page-->
        
            <input type="submit" value="Login"> <br>
    
        </form>
    </main>
    <!-- Temporary Navigation to hardcoded dashboard -->
    <div style="display: grid; place-items: center;">
        <a href="/dashboard/"><button style="width: 100%; padding: 10px;">Click For Temporary Dashboard Access</button></a>
    </div>
    <!-- Temp Error Handling (if individual messages wrap input and label in div 'input-control')-->
    <div class ="input-control">
        <div class="error" id="error"></div>
    </div>
</body>
</html>