<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Register Form</title>
    <link rel="stylesheet" type="text/css" href="../webpage/CSS/register-form.css"/>
    <script src="./JS/login-form.js" defer></script>
</head>
<body>
    <header class="navbar">
        <div class="left">
            <img src="../webpage/tutor-pictures/GATORlogo.png" width="65" alt="Logo" class="Logo">
            <a class="title" style="color: rgb(0, 0, 0);">wiseGATOR</a> 
        </div>
        <div class="search-container">
            <form class="search-form" action="/search-tutors" method="GET">
                <select name="subject">
                    <option value="">Select Topic</option>
                    <% topics.forEach(topic => { %>
                        <option value="<%= topic.subject %>" <%= (typeof subject !== 'undefined' && subject === topic.subject) ? 'selected' : '' %>><%= topic.subject %></option>
                    <% }); %>
                </select>

                <input type="text" name="search" value="<%= typeof name !== 'undefined' ? name : '' %>" placeholder="Search by name" maxlength="40">
                
                <button type="submit">Search</button>
            </form>
        </div>  
        <div class="right">
            <div class="navbar-buttons">
                <a href="/"><button>Home</button></a>
                <a href="/about-us/"><button>About Us</button></a>
                <!-- <a href="/search-tutors/"><button>Search Tutors</button></a> -->
                <a href="/tutor-application/"><button>Become a Tutor</button></a>
                <a href="/login-form/"><button>Sign In</button></a>
            </div>
        </div>
    </header>
    <main class="content">
        <form class="register-form" method="post">
            <h1>Register</h1>
            
            <label for="email">SFSU Email *</label> 
            <input type="email" id="email" placeholder="e.g. 123456789@sfsu.edu"/>  <br>

            <label for="password">Password *</label> 
            <input type="password" id="password" placeholder="At least 8 characters"/> <br>

            <label for="password-confirm">Re-enter Password *</label> 
            <input type="password" id="password-confirm" placeholder=""/> <br>
            
            <div class="terms">
                <input type="checkbox" id="checkbox"/>
                <label for="checkbox">I've read and accept the <a href="#">Terms of Services</a> *</label> <br>
            </div>
            
            <p>Items with an asteriks (*) are required</p>

            <input type="submit" value="submit"/> <br>
        </form>
    </main>
    <!-- Temp Error Handling (if individual messages wrap input and labe in div 'input-control')-->
    <div class ="input-control">
        <div class="error" id="error"></div>
    </div>
</body>
</html>